<!DOCTYPE html>
<html lang="en">



<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
   <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico">
   <title>NexLab+</title>
   <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css">
   <link rel="stylesheet" type="text/css" href="static/css/dataTables.bootstrap4.min.css">
   <link rel="stylesheet" type="text/css" href="static/css/select2.min.css">
   <link rel="stylesheet" type="text/css" href="static/css/bootstrap-datetimepicker.min.css">
   <link rel="stylesheet" type="text/css" href="static/css/style2.css">
   <style>

      .profile-view .profile-img-wrap {
         height: 100px !important;
         width: 100px !important;
      }
      .profile-view .profile-img .avatar {
         font-size: 24px;
         height: 100px !important;
         line-height: 150px;
         margin: 0;
         width: 100px !important;
      }
   </style>
<script>
      function get_patientid_cookie() {
         let patientid = document.cookie;
         patientid = patientid.replace("patientid=", "");
         document.getElementById("patientid").innerHTML = patientid;
      }

</script>
</head>

<body onload="get_patientid_cookie();">
   <div class="main-wrapper">
      <div class="header">
         <div class="header-left">
            <a href="home" class="logo">
               <img src="static/img/logo.png" width="35" height="35" alt=""> <span>NexLab+</span>
            </a>
         </div>
         <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
         <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
         <ul class="nav user-menu float-right">
            <li class="nav-item dropdown d-none d-sm-block">
               <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class="fa fa-bell-o"></i> <span
                     class="badge badge-pill bg-danger float-right">3</span></a>
               <div class="dropdown-menu notifications">
                  <div class="topnav-dropdown-header">
                     <span>Notifications</span>
                  </div>
                  <div class="drop-scroll">
                     <ul class="notification-list">
                        <li class="notification-message">
                           <a href="activities.html">
                              <div class="media">
                                 <span class="avatar">
                                    <img alt="John Doe" src="static/img/user.jpg" class="img-fluid">
                                 </span>
                                 <div class="media-body">
                                    <p class="noti-details"><span class="noti-title">John Doe</span> added new task
                                       <span class="noti-title">Patient appointment booking</span>
                                    </p>
                                    <p class="noti-time"><span class="notification-time">4 mins ago</span></p>
                                 </div>
                              </div>
                           </a>
                        </li>
                        <li class="notification-message">
                           <a href="activities.html">
                              <div class="media">
                                 <span class="avatar">V</span>
                                 <div class="media-body">
                                    <p class="noti-details"><span class="noti-title">Tarah Shropshire</span> changed the
                                       task name <span class="noti-title">Appointment booking with payment
                                          gateway</span></p>
                                    <p class="noti-time"><span class="notification-time">6 mins ago</span></p>
                                 </div>
                              </div>
                           </a>
                        </li>
                        <li class="notification-message">
                           <a href="activities.html">
                              <div class="media">
                                 <span class="avatar">L</span>
                                 <div class="media-body">
                                    <p class="noti-details"><span class="noti-title">Misty Tison</span> added <span
                                          class="noti-title">Domenic Houston</span> and <span class="noti-title">Claire
                                          Mapes</span> to project <span class="noti-title">Doctor available
                                          module</span></p>
                                    <p class="noti-time"><span class="notification-time">8 mins ago</span></p>
                                 </div>
                              </div>
                           </a>
                        </li>
                        <li class="notification-message">
                           <a href="activities.html">
                              <div class="media">
                                 <span class="avatar">G</span>
                                 <div class="media-body">
                                    <p class="noti-details"><span class="noti-title">Rolland Webber</span> completed
                                       task <span class="noti-title">Patient and Doctor video conferencing</span></p>
                                    <p class="noti-time"><span class="notification-time">12 mins ago</span></p>
                                 </div>
                              </div>
                           </a>
                        </li>
                        <li class="notification-message">
                           <a href="activities.html">
                              <div class="media">
                                 <span class="avatar">V</span>
                                 <div class="media-body">
                                    <p class="noti-details"><span class="noti-title">Bernardo Galaviz</span> added new
                                       task <span class="noti-title">Private chat module</span></p>
                                    <p class="noti-time"><span class="notification-time">2 days ago</span></p>
                                 </div>
                              </div>
                           </a>
                        </li>
                     </ul>
                  </div>
                  <div class="topnav-dropdown-footer">
                     <a href="activities.html">View all Notifications</a>
                  </div>
               </div>
            </li>
            <li class="nav-item dropdown d-none d-sm-block">
               <a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link"><i
                     class="fa fa-comment-o"></i> <span class="badge badge-pill bg-danger float-right">8</span></a>
            </li>
            <li class="nav-item dropdown has-arrow">
               <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                  <span class="user-img"><img class="rounded-circle" src="static/img/user.jpg" width="40" alt="Admin">
                     <span class="status online"></span></span>
                  <span>Admin</span>
               </a>
               <div class="dropdown-menu">
                  <a class="dropdown-item" href="profile.html">My Profile</a>
                  <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
                  <a class="dropdown-item" href="settings.html">Settings</a>
                  <a class="dropdown-item" href="/">Logout</a>
               </div>
            </li>
         </ul>
         <div class="dropdown mobile-user-menu float-right">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                  class="fa fa-ellipsis-v"></i></a>
            <div class="dropdown-menu dropdown-menu-right">
               <a class="dropdown-item" href="profile.html">My Profile</a>
               <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
               <a class="dropdown-item" href="settings.html">Settings</a>
               <a class="dropdown-item" href="/">Logout</a>
            </div>
         </div>
      </div>
      <div class="sidebar" id="sidebar">
         <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
               <ul>
                  <li class="menu-title">Main</li>
                  <!--<li>
                            <a href="/home"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>
						<li>
                            <a href="#"><i class="fa fa-user-md"></i> <span>Doctors</span></a>
                        </li>
                      <li>
                            <a href="#"><i class="fa fa-wheelchair"></i> <span>Patients History</span></a>
                        </li>
                        
      
                        <li>
                            <a href="#"><i class="fa fa-calendar-check-o"></i> <span>Doctor Schedule</span></a>
                        </li>-->

                  <li>
                     <a href="/home"><i class="fa fa-wheelchair"></i> <span>Health Assessment</span></a>
                  </li>

                  <li>
                     <a href="/Uploadnewrecords"><i class="fa fa-wheelchair"></i> <span>Patient New Records</span></a>
                  </li>
                  <li>
                     <a href="/appointments"><i class="fa fa-calendar"></i> <span>Appointments</span></a>
                  </li>

               
               </ul>
            </div>
         </div>
      </div>
      <div class="page-wrapper">
         <div class="content">





            <div class="card-box profile-header">
               <div class="row">
                  <div class="col-md-12">
                     <div class="profile-view">
                        <div class="profile-img-wrap">
                           <div class="profile-img">
                              <a href="#"><img class="avatar" src=
                                 {% if gender == 'Male' %}
                                 "/static/img/male.png"
                                 {% else %}
                                 "/static/img/female.png"
                                 {% endif %}
                                 
                                  alt=""></a>
                           </div>
                        </div>
                        <div class="profile-basic">
                           <div class="row">
                              <div class="col-md-4">
                                 <div class="profile-info-left">
                                    <h3 class="user-name m-t-0 mt-2 mb-0">Patient Name</h3>
                                    <div class="staff-id">
                                       Patient ID: <span id="patientid"></span>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-5">
                                 <ul class="personal-info">
                                    <li>
                                       <span class="title">Ethinicity:</span>
                                       <span class="text">{{ race }}</span>
                                    </li>
                                    <li>
                                       <span class="title">Age:</span>
                                       <span class="text">{{ age }}</span>
                                    </li>
    
                                    <li>
                                       <span class="title">Gender:</span>
                                       <span class="text">{{ gender }}</span>
                                    </li>
                                 </ul>
                              </div>
                              <div class="col-md-3 mb-3" style="float: right;
                              
                                 {% if cad_val!=1 or copd_val!=1 or hyper_val!=1 or ckd_val!=1 or diab_val!=1 %} 
                                 display: block; 
                                 {% else %}
                                 display: none; 
                                 {% endif %}">
                                 <br>
                                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                 
                                 
                                <!--- <button  class="btn btn-primary">Book an appoinment</button>-->

                                 <div class="col-sm-8 col-9 text-right m-b-20">
                                    <a href="/addappointments" class="btn btn btn-primary btn-rounded float-right">Book an appoinment</a>
                                </div>

                           


                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
      

        









         <div class="row mt-3">
            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
               <div class="card">
                  <div class="card-body">
                     <div class="chartjs-size-monitor"
                        style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand"
                           style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                           <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink"
                           style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                           <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                     </div>
                     <div class="chart-title">
                        <h4>Chronic Obstructive Pulmonary Disease (COPD)</h4>
                     </div>

                     <div class="row">
                        <div class="col-md-6">
                           <img src="/static/images/COPD.jpg" width="200" height="150" style="opacity: 0.8;"/>
                        </div>
                        <div class="col-md-6">
                           <h3><i class="fa fa-caret-up" aria-hidden="true"></i> {{ copd_msg }}</h3>
                           {% if copd_val==1 %} 
                           <img src="/static/images/No Risk.jpg" width="200" height="100"/>
                           {% endif %}
                           {% if copd_val==2 %} 
                           <img src="/static/images/Early Stage.jpg" width="200" height="100"/>
                           {% endif %}
                           {% if copd_val==3 %} 
                           
                           {% endif %}
                           {% if copd_val==4 %} 
                           <img src="/static/images/Critical.jpg" width="200" height="100"/>
                           {% endif %}
                        </div>
                     </div>
                     



                  </div>
               </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
               <div class="card">
                  <div class="card-body">
                     <div class="chartjs-size-monitor"
                        style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand"
                           style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                           <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink"
                           style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                           <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                     </div>
                     <div class="chart-title">
                        <h4>Coronary artery disease (CAD)</h4>
                     </div>

                     <div class="row">
                        <div class="col-md-6">
                           <img src="/static/images/CAD.jpg" width="200" height="150" style="opacity: 0.8;"/>
                        </div>
                        <div class="col-md-6">
                           <h3><i class="fa fa-caret-up" aria-hidden="true"></i> {{ cad_msg }}</h3>
                           {% if cad_val==1 %} 
                           <img src="/static/images/No Risk.jpg" width="200" height="100"/>
                           {% endif %}
                           {% if cad_val==2 %} 
                           <img src="/static/images/Early Stage.jpg" width="200" height="100"/>
                           {% endif %}
                           {% if cad_val==3 %} 
                           
                           {% endif %}
                           {% if cad_val==4 %} 
                           <img src="/static/images/Critical.jpg" width="200" height="100"/>
                           {% endif %}
                        </div>
                     </div>
                     



                  </div>
               </div>
            </div>
         </div>

         <div class="row mt-3">
            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
               <div class="card">
                  <div class="card-body">
                     <div class="chartjs-size-monitor"
                        style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand"
                           style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                           <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink"
                           style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                           <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                     </div>
                     <div class="chart-title">
                        <h4>HyperTension</h4>
                     </div>

                     <div class="row">
                        <div class="col-md-6">
                           <img src="/static/images/hypertension.jpg" width="200" height="150" style="opacity: 0.8;"/>
                        </div>
                        <div class="col-md-6">
                           <h3><i class="fa fa-caret-up" aria-hidden="true"></i> {{ hyper_msg }}</h3>
                           {% if hyper_val==1 %} 
                           <img src="/static/images/No Risk.jpg" width="200" height="100"/>
                           {% endif %}
                           {% if hyper_val==2 %} 
                           <img src="/static/images/Early Stage.jpg" width="200" height="100"/>
                           {% endif %}
                           {% if hyper_val==3 %} 
                           
                           {% endif %}
                           {% if hyper_val==4 %} 
                           <img src="/static/images/Critical.jpg" width="200" height="100"/>
                           {% endif %}
                        </div>
                     </div>
                  </div>
               </div>
            </div>

            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
               <div class="card">
                  <div class="card-body">
                     <div class="chartjs-size-monitor"
                        style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand"
                           style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                           <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink"
                           style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                           <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                     </div>
                     <div class="chart-title">
                        <h4>Chronic Kidney Disease (CKD)</h4>
                     </div>

                     <div class="row">
                        <div class="col-md-6">
                           <img src="/static/images/CKD.jpg" width="200" height="150" style="opacity: 0.8;"/>
                        </div>
                        <div class="col-md-6">
                           <h3><i class="fa fa-caret-up" aria-hidden="true"></i> {{ ckd_msg }}</h3>
                           {% if ckd_val==1 %} 
                           <img src="/static/images/No Risk.jpg" width="200" height="100"/>
                           {% endif %}
                           {% if ckd_val==2 %} 
                           <img src="/static/images/Early Stage.jpg" width="200" height="100"/>
                           {% endif %}
                           {% if ckd_val==3 %} 
                           
                           {% endif %}
                           {% if ckd_val==4 %} 
                           <img src="/static/images/Critical.jpg" width="200" height="100"/>
                           {% endif %}
                        </div>
                     </div>
                     



                  </div>
               </div>
            </div>
         </div>

         <div class="row mt-3">
            <div class="col-12 col-md-6 col-lg-6 col-xl-6">
               <div class="card">
                  <div class="card-body">
                     <div class="chartjs-size-monitor"
                        style="position: absolute; inset: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                        <div class="chartjs-size-monitor-expand"
                           style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                           <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink"
                           style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                           <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                        </div>
                     </div>
                     <div class="chart-title">
                        <h4>Diabetes</h4>
                     </div>

                     <div class="row">
                        <div class="col-md-6">
                           <img src="/static/images/diabetes.jpg" width="200" height="150" style="opacity: 0.8;"/>
                        </div>
                        <div class="col-md-6">
                           <h3><i class="fa fa-caret-up" aria-hidden="true"></i> {{ diab_msg }}</h3>
                           {% if diab_val==1 %} 
                           <img src="/static/images/No Risk.jpg" width="200" height="100"/>
                           {% endif %}
                           {% if diab_val==2 %} 
                           <img src="/static/images/Early Stage.jpg" width="200" height="100"/>
                           {% endif %}
                           {% if diab_val==3 %} 
                           
                           {% endif %}
                           {% if diab_val==4 %} 
                           <img src="/static/images/Critical.jpg" width="200" height="100"/>
                           {% endif %}
                        </div>
                     </div>
                  </div>
               </div>
            </div>

         </div>








         <div class="notification-box">
            <div class="msg-sidebar notifications msg-noti">
               <div class="topnav-dropdown-header">
                  <span>Messages</span>
               </div>
               <div class="drop-scroll msg-list-scroll" id="msg_list">
                  <ul class="list-box">
                     <li>
                        <a href="chat.html">
                           <div class="list-item">
                              <div class="list-left">
                                 <span class="avatar">R</span>
                              </div>
                              <div class="list-body">
                                 <span class="message-author">Richard Miles </span>
                                 <span class="message-time">12:28 AM</span>
                                 <div class="clearfix"></div>
                                 <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing</span>
                              </div>
                           </div>
                        </a>
                     </li>
                     <li>
                        <a href="chat.html">
                           <div class="list-item new-message">
                              <div class="list-left">
                                 <span class="avatar">J</span>
                              </div>
                              <div class="list-body">
                                 <span class="message-author">John Doe</span>
                                 <span class="message-time">1 Aug</span>
                                 <div class="clearfix"></div>
                                 <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing</span>
                              </div>
                           </div>
                        </a>
                     </li>
                     <li>
                        <a href="chat.html">
                           <div class="list-item">
                              <div class="list-left">
                                 <span class="avatar">T</span>
                              </div>
                              <div class="list-body">
                                 <span class="message-author"> Tarah Shropshire </span>
                                 <span class="message-time">12:28 AM</span>
                                 <div class="clearfix"></div>
                                 <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing</span>
                              </div>
                           </div>
                        </a>
                     </li>
                     <li>
                        <a href="chat.html">
                           <div class="list-item">
                              <div class="list-left">
                                 <span class="avatar">M</span>
                              </div>
                              <div class="list-body">
                                 <span class="message-author">Mike Litorus</span>
                                 <span class="message-time">12:28 AM</span>
                                 <div class="clearfix"></div>
                                 <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing</span>
                              </div>
                           </div>
                        </a>
                     </li>
                     <li>
                        <a href="chat.html">
                           <div class="list-item">
                              <div class="list-left">
                                 <span class="avatar">C</span>
                              </div>
                              <div class="list-body">
                                 <span class="message-author"> Catherine Manseau </span>
                                 <span class="message-time">12:28 AM</span>
                                 <div class="clearfix"></div>
                                 <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing</span>
                              </div>
                           </div>
                        </a>
                     </li>
                     <li>
                        <a href="chat.html">
                           <div class="list-item">
                              <div class="list-left">
                                 <span class="avatar">D</span>
                              </div>
                              <div class="list-body">
                                 <span class="message-author"> Domenic Houston </span>
                                 <span class="message-time">12:28 AM</span>
                                 <div class="clearfix"></div>
                                 <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing</span>
                              </div>
                           </div>
                        </a>
                     </li>
                     <li>
                        <a href="chat.html">
                           <div class="list-item">
                              <div class="list-left">
                                 <span class="avatar">B</span>
                              </div>
                              <div class="list-body">
                                 <span class="message-author"> Buster Wigton </span>
                                 <span class="message-time">12:28 AM</span>
                                 <div class="clearfix"></div>
                                 <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing</span>
                              </div>
                           </div>
                        </a>
                     </li>
                     <li>
                        <a href="chat.html">
                           <div class="list-item">
                              <div class="list-left">
                                 <span class="avatar">R</span>
                              </div>
                              <div class="list-body">
                                 <span class="message-author"> Rolland Webber </span>
                                 <span class="message-time">12:28 AM</span>
                                 <div class="clearfix"></div>
                                 <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing</span>
                              </div>
                           </div>
                        </a>
                     </li>
                     <li>
                        <a href="chat.html">
                           <div class="list-item">
                              <div class="list-left">
                                 <span class="avatar">C</span>
                              </div>
                              <div class="list-body">
                                 <span class="message-author"> Claire Mapes </span>
                                 <span class="message-time">12:28 AM</span>
                                 <div class="clearfix"></div>
                                 <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing</span>
                              </div>
                           </div>
                        </a>
                     </li>
                     <li>
                        <a href="chat.html">
                           <div class="list-item">
                              <div class="list-left">
                                 <span class="avatar">M</span>
                              </div>
                              <div class="list-body">
                                 <span class="message-author">Melita Faucher</span>
                                 <span class="message-time">12:28 AM</span>
                                 <div class="clearfix"></div>
                                 <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing</span>
                              </div>
                           </div>
                        </a>
                     </li>
                     <li>
                        <a href="chat.html">
                           <div class="list-item">
                              <div class="list-left">
                                 <span class="avatar">J</span>
                              </div>
                              <div class="list-body">
                                 <span class="message-author">Jeffery Lalor</span>
                                 <span class="message-time">12:28 AM</span>
                                 <div class="clearfix"></div>
                                 <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing</span>
                              </div>
                           </div>
                        </a>
                     </li>
                     <li>
                        <a href="chat.html">
                           <div class="list-item">
                              <div class="list-left">
                                 <span class="avatar">L</span>
                              </div>
                              <div class="list-body">
                                 <span class="message-author">Loren Gatlin</span>
                                 <span class="message-time">12:28 AM</span>
                                 <div class="clearfix"></div>
                                 <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing</span>
                              </div>
                           </div>
                        </a>
                     </li>
                     <li>
                        <a href="chat.html">
                           <div class="list-item">
                              <div class="list-left">
                                 <span class="avatar">T</span>
                              </div>
                              <div class="list-body">
                                 <span class="message-author">Tarah Shropshire</span>
                                 <span class="message-time">12:28 AM</span>
                                 <div class="clearfix"></div>
                                 <span class="message-content">Lorem ipsum dolor sit amet, consectetur
                                    adipiscing</span>
                              </div>
                           </div>
                        </a>
                     </li>
                  </ul>
               </div>
               <div class="topnav-dropdown-footer">
                  <a href="chat.html">See all messages</a>
               </div>
            </div>
         </div>
      </div>
      <div id="delete_employee" class="modal fade delete-modal" role="dialog">
         <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
               <div class="modal-body text-center">
                  <img src="static/img/sent.png" alt="" width="50" height="46">
                  <h3>Are you sure want to delete this Employee?</h3>
                  <div class="m-t-20"> <a href="#" class="btn btn-white" data-dismiss="modal">Close</a>
                     <button type="submit" class="btn btn-danger">Delete</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>




   <div class="sidebar-overlay" data-reff=""></div>
   <script src="static/js/jquery-3.2.1.min.js"></script>
   <script src="static/js/popper.min.js"></script>
   <script src="static/js/bootstrap.min.js"></script>
   <script src="static/js/jquery.dataTables.min.js"></script>
   <script src="static/js/dataTables.bootstrap4.min.js"></script>
   <script src="static/js/jquery.slimscroll.js"></script>
   <script src="static/js/select2.min.js"></script>
   <script src="static/js/moment.min.js"></script>
   <script src="static/js/bootstrap-datetimepicker.min.js"></script>
   <script src="static/js/app.js"></script>
</body>


</html>